body{
    background-color: white;
}
h1{
    margin: 0 0 .4em;
}
.email-form input{
    min-width: 450px;
    height: 60px;
  }
.nfTextField{
  padding: 10px 10px 0;
  width: 100%;
  height: 60px;
  display: block;
  box-sizing: border-box;
}
ul > li{
  margin-left: 0;
  list-style: none;

}
.nfFormSpace{
  margin-bottom: 10px;
}

ul{
  padding:0;
}
.ui-binary input[type=checkbox]{
    position: absolute;
    left: 0;
}
input[type=checkbox] + label:before{
  background-color: #fff;
  border: 1px solid;
  content:"";
  height: 25px;
  width: 25px;
  position: absolute;
  left:-7px;
  display: block;
  top: 2px;
}
.ui-binary input[type=checkbox] + label{
    margin: 8px 0;
    line-height: 1.2;
    display: block;
    padding: 6px 0;
}
.submitBtn{
    width: 100%;
    min-width: 110px;
    padding: 20.5px 2em;
    background-color: #e50914;
    color:#fff;
    border: none;
    cursor: pointer;
}

body .submitBtn{
    font-size: 24px;
    font-weight: 500;
    min-height: 64px;
}
.ui-binary{
    font-size: 16px;
    max-width: 500px;
    min-height: 32px;
    position: relative;
    padding-left: 36px;
}
.svg-nflogo{
    margin-left: 3%;

}
.svg-icon{
    fill:#e50914;
    display: inline-block;
    height: 20px;
    width: 75px;;
    padding-top: 0;
}
body .nfHeader{
    border-bottom: 1px solid #e6e6e6;
}
.nfHeader .SignupHeader{
    color: #333;
    float: right;
    text-decoration: none;
}
ul > li{
    margin-left: 0;
    list-style: none;
}
ul{
    padding:0;
  }  
.stepTitle{
    font-size: 32px;
    margin: 0 0 .4em;
}
.stepHeader-Container{
    margin-top: 20px;
}
.Container .centerContainer{
    padding: 20px 32px 60px;
}
.contextRow{
    font-size: 18px;
}
.contextRow+.contextRow{
    margin-top: 10px;
}
.stepIndicator{
    font-size: 13px;
}
.registerFormContainer{
    margin: 0 auto;
    max-width: 440px;
}